language : android
sudo : false
jdk : oraclejdk8
install : ant deps

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache : 
 directories : 
  -$HOME/.gradle/caches/
  -$HOME/.gradle/wrapper/

env:
 global:
 - ANDROID_API=28
 - EMULATOR_API=26
 - ANDROID_BUILD_TOOLS=28.0.0
 - ADB_INSTALL_TIMEOUT=5 # minutes


android:
 components:
 - tools
 - platform-tools
 - build-tools-$ANDROID_BUILD_TOOLS
 - android-$ANDROID_API
 - android-$EMULATOR_API_LEVEL
 - extra-google-m2repository
 - extra-android-m2repository # for design library
 - addon-google_apis-google-19 # google play services
 - sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API_LEVEL
 - sys-img-armeabi-v7a-addon-google_apis-google-$EMULATOR_API_LEVEL
 licenses:
     - 'android-sdk-preview-license-52d11cd2'
     - 'android-sdk-license-.+'
     - 'google-gdk-license-.+'

 before_cache:
   - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
   - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

 licenses:
 - android-sdk-preview-license-.+
 - android-sdk-license-.+
 - google-gdk-license-.+



before_script:
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &


script:
 - "./gradlew clean build connectedCheck -PdisablePreDex --stacktrace"



secure: "hUL6AmhBJyN1iMKuqccEwPUb1Su1zblnNy+szAcrNU+ehJ6EQ0upVcxt6vPpwMsmAlQeRsD/ZU3a7AKlpgvP77HlBqJfJfKLp//SD9fo1AzAgmy3a5P92m43/tg3IO/dgHiNp0JdbFRAc6Sgujh/M9ZMUCvhs7k5Piy3vp6EKnegrTxQwlTVj7GPo9MiTqhZ4k3i7tVokp6ja1oJ7BRjWWEDteX9KYti+IRsFHcAdCxzRuPSNdObb+sllhTK6pW1OIoulxF8zg7Xg2lZc8CiwEOEL/vYOYqR46+1rVW1FSSdvWTQIDlWkPseY+3wmzRYPJvmXrXuFlF2fI/dgv3zRMDxAjg7zcJQgcb5aIEujohloEG3LyCIn/ioo9oapXaPXJ3GIn5JIDrT9RfKv1fAYF3hiC92iE25ipIXg1woQkXvM7q5jMMYKLWnU8aRXq7JxkzSaYPGBiK5wB8cSUJWAJWnIjMMDKluBxkAiS0kzCvgZPEcJkL1tISkStNvDl0Dilf25uXchXe+rAYn4PHpFAoMU0JM+qJiLJqApGvRniQioaQQ4V5PhUDK/NL6ROP2NdWGvHxNN6hnQI/QcJ+x5g0T26WIl5wEKAfDSTBIY3zy+YDn9fw+Zr+4S3cenZZMFeq0Rox4YH8glgROsVqpisHJWFF6/W1FqD5/br7Ng+M="
